@font-face {
	font-family: 'iconfont';
	font-display: auto;
	src: url('https://at.alicdn.com/t/c/font_4250817_3m3egy98x6u.woff2?t=1694614259186') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4250817_3m3egy98x6u.woff?t=1694614259186') format('woff'),
       url('https://at.alicdn.com/t/c/font_4250817_3m3egy98x6u.ttf?t=1694614259186') format('truetype');
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
	content: "\e615";
  }
  
  .icon-wechat:before {
	content: "\e616";
  }
  
  .icon-xiaolian:before {
	content: "\e627";
  }
  
  .icon-github:before {
	content: "\e691";
  }
  
  .icon-bokeyuan:before {
	content: "\e603";
  }
  
  .icon-email:before {
	content: "\e692";
  }
  
  .icon-zhaopian:before {
	content: "\e62d";
  }